*{
    margin: auto;
}

body{
    background-color: #383435;
    overflow: scroll;
}

.navKai{
    min-height: 80px;;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

.nav-item{
    font-variant: small-caps;
    font-size: 1em;
    letter-spacing: .10em;
}

.navbar-brand img{
    width: 200px;
    margin-left: 50%;
}

.navbar-toggler img{
    width: 200px;
    margin-left: 20%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 993px) {
    .navbar-brand{
        visibility: hidden;
    }
}


.test{
background-color: #202020;
color: #fff;
min-height: 55vw;
position: relative;
}
.test2{
background-color: red;
color: #fff;
min-height: 55vw;
}

.vertical-text {
  position: absolute;
  top: 150px;
  font-size: 3rem;
  transform: rotate(-90deg);
  transform-origin: bottom;
  border-bottom: solid white 2px;
  padding-top: 10%;
}
.vertical-text span {
  color: #e3891b;
}

@font-face {
	font-family: "LabGrotesque";
	src: url('../fonts/LabGrotesque-Regular.ttf');
}

@font-face {
	font-family: "LabGrotesqueBold";
	src: url('../fonts/LabGrotesque-Bold.ttf');
}


p{
    font-family: "LabGrotesque";
    font-size: 16px;
    line-height: 24px;
}

h2{
        font-family: "LabGrotesqueBold";
    font-size: 6em;
}