*{
    margin: auto;
}

body{
    overflow: hidden;
}

.Loader {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width:25%;
}

@media screen and (max-width: 800px) {
    .Loader {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        width:50%;
    }
}

#contenuLoader{
    background: #202020;
    height: 100vh;
    width: 100vw;
}
#Loader{
    background: #202020;
}

#whoAreWe{
    background-color: #202020;
color: #fff;
min-height: 100vh;
background-size: cover;
padding-top: 100px;
}

#webDev{
    background-color: #202020;
color: #fff;
min-height: 100vh;
padding-top: 100px;
}

#webDesign{
    background-color: #202020;
color: #fff;
min-height: 100vh;
padding-top: 100px;
}

@font-face {
	font-family: "LabGrotesque";
	src: url('../fonts/LabGrotesque-Regular.ttf');
}

@font-face {
	font-family: "LabGrotesqueBold";
	src: url('../fonts/LabGrotesque-Bold.ttf');
}


main p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 7vw;
    text-align: justify;
  text-justify: inter-word;
}

main h2{
        font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
main h2{
        font-family: 'Montserrat', sans-serif;
    font-size: 15vw;
    margin-bottom: 2vh;
}
}

#fadeSite{
    display: block;
}

@font-face {
	font-family: "northen";
	src: url('../fonts/NORTHEN.ttf');
}

@font-face {
	font-family: "beyond";
	src: url('../fonts/Beyond Infinity.ttf');
}

.a-absolute{
    font-family: "northen";
}

.sousTitle{
    font-family: 'beyond', cursive;
    text-shadow: rgba(0, 0, 0, 1) 20px 5px 10px;
}

.a-absolute h1{
    color: white;
    font-size: 10vw;
line-height: 9vw;
text-shadow: rgba(0, 0, 0, 1) 20px 5px 1px;
}

h2{
    line-height: 1em;
    padding-top: 20vh;
    font-family: 'EB Garamond', serif;
}

h2 .h2Color{
    color: #2E7AAB;
    font-family: "northen";
}

main h3{
    color: #BD8B53;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
}
.layer, #scene{
    position:absolute;
    display:block;
    left:10%;
}